* {
  background-color: #4b69fd;
}

body {
  box-sizing: margin;

  position: relative;
  width: 100%;
  height: 300px;
  left: 0px;
  top: 367px;

  background: #fff9eb;
  border: 2px solid #000000;
  border-radius: 64px 64px 0px 0px;
}
